:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-text-footer: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-background-footer: #2f303a;
  --filter-background: #f5f4fa;
  --primary-icon-color: #afb1b8;
  --item-set-gap: 30px;
  --icon-set-gap: 10px;
  --transition-time: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.primary__button {
  font-family: inherit;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 32px;
  -webkit-transition: background-color 250ms var(--transition-time), -webkit-box-shadow 250ms var(--transition-time);
  transition: background-color 250ms var(--transition-time), -webkit-box-shadow 250ms var(--transition-time);
  transition: background-color 250ms var(--transition-time), box-shadow 250ms var(--transition-time);
  transition: background-color 250ms var(--transition-time), box-shadow 250ms var(--transition-time), -webkit-box-shadow 250ms var(--transition-time);
}

.primary__button:hover, .primary__button:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.primary__button--size {
  width: 200px;
  height: 50px;
}

.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 250ms var(--transition-time), visibility 250ms var(--transition-time);
  transition: opacity 250ms var(--transition-time), visibility 250ms var(--transition-time);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.close__button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 50%;
  content: "";
  cursor: pointer;
}

.close__icon {
  position: absolute;
  top: 5px;
  left: 5px;
  fill: currentColor;
  -webkit-transition: fill 250ms var(--transition-time);
  transition: fill 250ms var(--transition-time);
}

.close__button:hover .close__icon {
  fill: var(--accent-color);
}

.checkbox {
  margin-bottom: 30px;
}

.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  top: 4px;
  left: 3px;
}

.checkbox__label {
  position: relative;
  font-size: 14px;
  line-height: 1.71;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}

.checkbox__link {
  color: var(--accent-color);
}

.checkbox__icon {
  position: relative;
  cursor: pointer;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}

.check__icon {
  position: absolute;
  top: -2px;
  left: -2px;
  color: inherit;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: background-color 250ms var(--transition-time), fill 250ms var(--transition-time), opacity 250ms var(--transition-time);
  transition: background-color 250ms var(--transition-time), fill 250ms var(--transition-time), opacity 250ms var(--transition-time);
}

.checkbox__input:checked + .check__icon {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
  opacity: 1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--primary-white-color);
  -webkit-transition: -webkit-transform 250ms var(--transition-time);
  transition: -webkit-transform 250ms var(--transition-time);
  transition: transform 250ms var(--transition-time);
  transition: transform 250ms var(--transition-time), -webkit-transform 250ms var(--transition-time);
}

.modal__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__title {
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 12px;
}

.modal__control {
  position: relative;
  margin-bottom: 10px;
}

.modal__label {
  letter-spacing: 0.01em;
  line-height: 1.17;
  font-size: 12px;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.modal__input {
  width: 100%;
  padding: 11px 11px 11px 33px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms var(--transition-time);
  transition: border-color 250ms var(--transition-time);
}

.modal__input:focus {
  border-color: var(--accent-color);
}

.modal__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: black;
  -webkit-transition: fill 250ms var(--transition-time);
  transition: fill 250ms var(--transition-time);
}

.modal__control:focus-within .modal__icon {
  fill: var(--accent-color);
}

.modal__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  margin-bottom: 20px;
  resize: none;
}

.modal__textarea:focus {
  border-color: var(--accent-color);
}

.textarea {
  margin-bottom: 4px;
}

.modal__textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.network__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--icon-set-gap);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.network__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  fill: var(--primary-icon-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: fill 250ms var(--transition-time), background-color 250ms var(--transition-time);
  transition: fill 250ms var(--transition-time), background-color 250ms var(--transition-time);
}

.network__link:focus, .network__link:hover {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
}

.network__icon--color {
  fill: var(--primary-white-color);
}

.network__link--color {
  background-color: rgba(255, 255, 255, 0.1);
}

.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 94px;
    margin: 0 auto;
  }
}
.advantages__container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 480px) {
  .advantages__container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .advantages__container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .advantages__container {
    width: 1200px;
  }
}
.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--item-set-gap);
}
@media (min-width: 768px) {
  .advantages__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.advantages__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  background-color: var(--filter-background);
  margin-bottom: 30px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .advantages__icon {
    height: 120px;
  }
}
.advantages__item {
  text-align: left;
}
@media (min-width: 480px) {
  .advantages__item {
    width: 450px;
  }
}
@media (min-width: 768px) {
  .advantages__item {
    width: 354px;
  }
}
@media (min-width: 1200px) {
  .advantages__item {
    width: 270px;
  }
}
.advantages__title {
  visibility: hidden;
  color: var(--title-text-color);
}
.advantages__subtitle {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
@media (min-width: 768px) {
  .advantages__subtitle {
    text-align: left;
  }
}
.advantages__text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients__container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 480px) {
  .clients__container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .clients__container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .clients__container {
    width: 1200px;
  }
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--item-set-gap);
}
.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 480px) {
  .clients__item {
    width: 210px;
  }
}
@media (min-width: 768px) {
  .clients__item {
    width: 226px;
  }
}
@media (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}
.clients__icon {
  fill: var(--primary-icon-color);
  -webkit-transition: fill 250ms var(--transition-time);
  transition: fill 250ms var(--transition-time);
}
.clients__link {
  width: 100%;
  height: 92px;
  padding: 16px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--primary-icon-color);
  -webkit-transition: fill 250ms var(--transition-time), border 250ms var(--transition-time);
  transition: fill 250ms var(--transition-time), border 250ms var(--transition-time);
}
.clients__link:focus, .clients__link:hover {
  border: 1px solid var(--accent-color);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--primary-background-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
@media (min-width: 480px) {
  .footer__container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .footer__container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .footer__container {
    width: 1200px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 93px;
  }
}
.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}
@media (min-width: 768px) {
  .footer__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 165px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media (min-width: 1200px) {
  .footer__box {
    gap: 70px;
  }
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media (min-width: 1200px) {
  .footer__contacts {
    display: block;
    text-align: left;
  }
}
.footer__logo {
  font-family: "Raleway", sans-serif;
  color: var(--accent-color);
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__logo--studio {
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
.footer__subtitle {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: block;
  text-align: center;
}
@media (min-width: 1200px) {
  .footer__subtitle {
    text-align: left;
  }
}

.address__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
}

.address__map {
  color: var(--primary-white-color);
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address__link {
  color: var(--primary-text-footer);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: color 250ms var(--transition-time);
  transition: color 250ms var(--transition-time);
}

.address__link:focus, .address__link:hover {
  color: var(--accent-color);
}

.subscription__label {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: block;
  text-align: center;
}
@media (min-width: 1200px) {
  .subscription__label {
    text-align: left;
  }
}

.subscription__sending {
  gap: 12px;
}
@media (min-width: 1200px) {
  .subscription__sending {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.subscription__input {
  margin-bottom: 20px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--primary-background-footer);
  color: var(--primary-white-color);
  padding: 15px 16px;
  outline: none;
}
@media (min-width: 320px) {
  .subscription__input {
    width: 300px;
  }
}
@media (min-width: 480px) {
  .subscription__input {
    width: 450px;
  }
}
@media (min-width: 1200px) {
  .subscription__input {
    width: 358px;
  }
}

.subscription__input:focus {
  border-color: var(--accent-color);
}

.subscription__button {
  font-family: inherit;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  border-radius: 4px;
  border-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 28px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  fill: var(--primary-white-color);
  -webkit-transition: background-color 250ms var(--transition-time), border-color 250ms var(--transition-time);
  transition: background-color 250ms var(--transition-time), border-color 250ms var(--transition-time);
}

.subscription__button:hover {
  border-color: #188ce8;
  background-color: #188ce8;
}

.subscription__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--item-set-gap);
}

@media (min-width: 480px) {
  .gallery__card {
    width: 450px;
  }
}
@media (min-width: 768px) {
  .gallery__card {
    width: 354px;
  }
}
@media (min-width: 1200px) {
  .gallery__card {
    width: 370px;
  }
}

.gallery__link {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-box-shadow 250ms var(--transition-time);
  transition: -webkit-box-shadow 250ms var(--transition-time);
  transition: box-shadow 250ms var(--transition-time);
  transition: box-shadow 250ms var(--transition-time), -webkit-box-shadow 250ms var(--transition-time);
}

.gallery__link:focus, .gallery__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

.gallery__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
@media (min-width: 480px) {
  .gallery__item {
    width: 450px;
  }
}
@media (min-width: 768px) {
  .gallery__item {
    width: 354px;
  }
}
@media (min-width: 1200px) {
  .gallery__item {
    width: 370px;
  }
}

.gallery__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.gallery__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
}

.gallery__text--hidden {
  position: absolute;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  padding-left: 47px;
  padding-right: 47px;
  padding-top: 34px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--transition-time);
  transition: -webkit-transform 250ms var(--transition-time);
  transition: transform 250ms var(--transition-time);
  transition: transform 250ms var(--transition-time), -webkit-transform 250ms var(--transition-time);
}

.gallery__overflow {
  position: relative;
  overflow: hidden;
}

.gallery__link:hover .gallery__text--hidden, .gallery__link:focus .gallery__text--hidden {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 480px) {
  .header__container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .header__container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .header__container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }
}
.header__logo {
  font-family: "Raleway", sans-serif;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
@media (min-width: 768px) {
  .header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 88px;
  }
}
@media (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}
.header__logo--studio {
  color: var(--title-text-color);
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 1200px) {
  .header__nav {
    margin-right: 93px;
  }
}
.header__menu {
  max-width: 768px;
  width: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .header__menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__burger-menu {
  background-color: var(--primary-white-color);
  border: none;
  padding: 0;
}
@media (min-width: 768px) {
  .header__burger-menu {
    display: none;
  }
}
.header__list {
  display: none;
}
@media (min-width: 768px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}
.header__item:not(:last-child) {
  margin-right: 50px;
}
.header__link {
  color: var(--title-text-color);
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms var(--transition-time);
  transition: color 250ms var(--transition-time);
  position: relative;
}
@media (min-width: 1200px) {
  .header__link {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}
.header__link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: 0;
  right: 0px;
}
.header__link.current {
  color: var(--accent-color);
}

.header-contacts__list {
  display: none;
}
@media (min-width: 768px) {
  .header-contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
    padding-top: 21px;
    padding-bottom: 21px;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .header-contacts__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
    gap: 30px;
  }
}

.header-contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-contacts__icon {
  margin-right: 10px;
}

.header-contacts__link {
  color: var(--primary-text-color);
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: var(--primary-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 250ms var(--transition-time), fill 250ms var(--transition-time);
  transition: color 250ms var(--transition-time), fill 250ms var(--transition-time);
}
@media (min-width: 1200px) {
  .header-contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
  }
}

.header-contacts__link:focus, .header-contacts__link:hover {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.hero {
  background-color: var(--primary-background-footer);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 118px 15px;
  max-width: 480px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hero-480.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-480.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url "../../images/hero-480@2x.jpg";
  }
}
@media (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hero-768.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-768.jpg);
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url "../../images/hero-768@2x.jpg";
  }
}
@media (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hero-1600.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-1600.jpg);
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url "../../images/hero-1600@2x.jpg";
  }
}
.hero__container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 480px) {
  .hero__container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .hero__container {
    width: 768px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 1200px) {
  .hero__container {
    width: 1200px;
  }
}
.hero__title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  max-width: 480px;
  width: 100%;
  height: 100%;
  background-color: var(--primary-white-color);
  padding: 48px 40px;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mobile-menu__close-button {
  background-color: var(--primary-white-color);
  border: none;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0;
  fill: var(--primary-text-color);
}
.mobile-menu__close-button:hover, .mobile-menu__close-button:focus {
  fill: var(--accent-color);
}
.mobile-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__item:last-child {
  margin-bottom: 302px;
}
.mobile-menu__link {
  text-decoration: none;
  color: var(--title-text-color);
  font-size: 40px;
  font-weight: 500;
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.mobile-network__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mobile-network__item {
  padding: 1px 10px;
}
.mobile-network__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-network__item:first-child {
  padding-left: 0px;
}
.mobile-network__link {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.mobile-contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.mobile-contacts__list :last-child {
  margin-bottom: 64px;
}
.mobile-contacts__link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 24px;
}
.mobile-contacts__link:hover, .mobile-contacts__link:focus {
  color: var(--accent-color);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio__container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 480px) {
  .portfolio__container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .portfolio__container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .portfolio__container {
    width: 1200px;
  }
}
.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 50px;
}
@media (min-width: 480px) {
  .portfolio__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (min-width: 768px) {
  .portfolio__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.portfolio__buttons {
  color: var(--title-text-color);
  background-color: var(--filter-background);
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  border-color: var(--filter-background);
  border-radius: 4px;
  border-style: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  padding: 6px 22px;
  -webkit-transition: color 250ms var(--transition-time), background-color 250ms var(--transition-time), border-color 250ms var(--transition-time), -webkit-box-shadow 250ms var(--transition-time);
  transition: color 250ms var(--transition-time), background-color 250ms var(--transition-time), border-color 250ms var(--transition-time), -webkit-box-shadow 250ms var(--transition-time);
  transition: color 250ms var(--transition-time), background-color 250ms var(--transition-time), border-color 250ms var(--transition-time), box-shadow 250ms var(--transition-time);
  transition: color 250ms var(--transition-time), background-color 250ms var(--transition-time), border-color 250ms var(--transition-time), box-shadow 250ms var(--transition-time), -webkit-box-shadow 250ms var(--transition-time);
}
.portfolio__buttons:focus, .portfolio__buttons:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.profile {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .profile {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.profile__container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 480px) {
  .profile__container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .profile__container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .profile__container {
    width: 1200px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .profile__card {
    width: 270px;
  }
}
.profile__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.profile__background {
  background-color: var(--primary-white-color);
  padding: 30px;
}
.profile__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--item-set-gap);
}
@media (min-width: 768px) {
  .profile__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.profile__item {
  display: block;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media (min-width: 480px) {
  .profile__item {
    width: 450px;
  }
}
@media (min-width: 768px) {
  .profile__item {
    width: 354px;
  }
}
@media (min-width: 1200px) {
  .profile__item {
    width: 270px;
  }
}
.profile__subtitle {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}
.profile__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.projects {
  padding-top: 0px;
  padding-bottom: 94px;
  display: none;
}
@media (min-width: 1200px) {
  .projects {
    display: block;
  }
}
.projects__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.projects__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.projects__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--item-set-gap);
}
.projects__subtitle {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
}/*# sourceMappingURL=main.css.map */