:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --primary-text-footer: rgba(255, 255, 255, 0.6);
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --primary-background-footer: #2f303a;
    --filter-background: #f5f4fa;
    --primary-icon-color: #afb1b8;
    --item-set-gap: 30px;
    --icon-set-gap: 10px;
    --transition-time: cubic-bezier(0.4, 0, 0.2, 1);
}