.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages__list {
  display: flex;
  gap: var(--item-set-gap);
}

.advantages__item::before {
  content: '';
  display: block;
  height: 120px;
  background-color: var(--filter-background);
  padding: 25px 100px;
  margin-bottom: 30px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
}

.advantages__item--antenna {
  &::before {
    background-image: url(../images/antenna.svg);
  }
}

.advantages__item--clock {
  &::before {
    background-image: url(../images/clock.svg);
  }
}

.advantages__item--diagram {
  &::before {
    background-image: url(../images/diagram.svg);
  }
}

.advantages__item--astronaut {
  &::before {
    background-image: url(../images/astronaut.svg);
  }
}

.advantages__item {
  width: 270px;
  text-align: left;
}

.advantages__title {
  visibility: hidden;
  color: var(--title-text-color);
}

.advantages__subtitle {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages__text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
}
