.footer {
  background-color: var(--primary-background-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__contacts {
  margin-right: 70px;
}

.footer__container {
  width: 1200px;

  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
}

.footer__logo {
  font-family: 'Raleway', sans-serif;
  color: var(--accent-color);
  text-decoration-line: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  display: flex;
}

.footer__logo--studio {
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.address__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.address__map {
  color: var(--primary-white-color);
  text-decoration-line: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address__link {
  color: var(--primary-text-footer);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration-line: none;
  transition: color 250ms var(--transition-time);
}

.address__link {
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.footer__social {
  margin-right: 93px;
}

.footer__subtitle {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: block;
}

.subscription__label {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: block;
}

.subscription__sending {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.subscription__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--primary-background-footer);
  color: var(--primary-white-color);
  padding: 15px 16px;
  outline: none;
}

.subscription__input {
  &:focus {
    border-color: var(--accent-color);
  }
}

.subscription__button {
  font-family: inherit;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  border-radius: 4px;
  border-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  width: 200px;
  height: 50px;
  fill: var(--primary-white-color);
  transition: background-color 250ms var(--transition-time),
    border-color 250ms var(--transition-time);
}

.subscription__button {
  &:hover {
    border-color: #188ce8;
    background-color: #188ce8;
  }
}

.subscription__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}
