.header {
  border-bottom: 1px solid #ececec;

  &__container {
    max-width: 480px;
    width: 100%;
    display: flex;
    align-content: space-between;
    padding: 15px;
    margin: 0;

    @media (min-width: 1200px) {
      max-width: 1200px;
      padding: 0 15px;
      margin: 0 auto;
    }
  }

  &__logo {
    font-family: 'Raleway', sans-serif;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    text-decoration-line: none;
    margin-right: auto;

    @media (min-width: 768px) {
      padding-top: 24px;
      padding-bottom: 25px;
      margin-right: 93px;
      font-size: 26px;
      line-height: 1.19;
      padding-top: 24px;
      padding-bottom: 25px;
      margin-right: 93px;
    }
  }

  &__logo--studio {
    color: var(--title-text-color);
  }

  &__nav {
    display: flex;
  }

  &__menu {
    max-width: 768px;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;

    @media (min-width: 1200px) {
      margin-right: auto;
    }
  }

  &__burger-menu {
    background-color: var(--primary-white-color);
    border: none;
    padding: 0;
    @media (min-width: 768px) {
      display: none;
    }
  }

  &__list {
    display: none;

    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;
    }
  }

  &__item {
    display: flex;
    align-content: center;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    color: var(--title-text-color);
    text-decoration-line: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms var(--transition-time);
    position: relative;
  }

  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }

  &__link.current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    bottom: 0;
    right: 0px;
  }

  &__link.current {
    color: var(--accent-color);
  }
}

.header-contacts__list {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }
}

.header-contacts__item {
  display: flex;
  align-content: center;
  justify-content: center;
}

.header-contacts__icon {
  margin-right: 10px;
}

.header-contacts__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header-contacts__link {
  color: var(--primary-text-color);
  text-decoration-line: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  fill: var(--primary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms var(--transition-time), fill 250ms var(--transition-time);
}

.header-contacts__link {
  &:focus,
  &:hover {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}
