.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 480px) {
      width: 480px;
    }

    @media (min-width: 768px) {
      width: 768px;
    }
    @media (min-width: 1200px) {
      width: 1200px;
    }
  }

  &__box {
    @media (min-width: 480px) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    @media (min-width: 768px) {
      flex-direction: row;
      gap: 8px;
      justify-content: center;
    }
  }

  &__tablet-btn {
    @media (min-width: 480px) {
      margin-bottom: 15px;
    }

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__tablet-box {
    @media (min-width: 480px) {
      margin-bottom: 30px;
    }

    @media (min-width: 1200px) {
      margin-bottom: 0;
    }
  }

  &__list {
    display: flex;

    align-items: center;
    flex-wrap: wrap;
    gap: 8px;

    @media (min-width: 480px) {
      justify-content: flex-start;
    }

    @media (min-width: 768px) {
      justify-content: center;
    }

    @media (min-width: 1200px) {
      margin-bottom: 50px;
    }
  }

  &__buttons {
    color: var(--title-text-color);
    background-color: var(--filter-background);
    text-decoration-line: none;
    border-color: var(--filter-background);
    border-radius: 4px;
    border-style: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;
    padding: 6px 22px;
    transition: color 250ms var(--transition-time), background-color 250ms var(--transition-time),
      border-color 250ms var(--transition-time), box-shadow 250ms var(--transition-time);
  }

  &__buttons {
    &:focus,
    &:hover {
      color: var(--primary-white-color);
      background-color: var(--accent-color);
      border-color: var(--accent-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}
